body {
  background-color: transparent;
}

.questions {
  counter-reset: questions;
}
code[wrapping] {
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  word-break: break-word;
  word-wrap: break-word;
}
.big-bottom-divide {
  border-bottom: 5px double var(--vscode-editor-foreground);
}
.bottom-divide {
  border-bottom: 3px solid var(--vscode-editor-foreground);
}
/* .question::before {
  counter-increment: questions;
  content: "Similar question " counter(questions) ":";
  text-decoration: underline;
} */
.question {
  word-wrap: break-word;

  width: auto;
  font-size: small;
  margin-top: 25px;
  counter-reset: answers;

  /* outline: 2px solid ivory; */
  /* outline-offset: 5px; */
}
/* .collapse-parent[collapsed] + .collapse-child {
  height: 0;
  display: none;
}
.collapse-parent + .collapse-child {
  height: 100%;
  display: block;
} */
.collapse-parent[collapsed]::before {
  transform: rotate(0deg);
}
.collapse-parent::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill='%239da5b3'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 13.887l5-5V8.18l-5-5-.707.707 4.146 4.147H2v1h10.44L8.292 13.18l.707.707z'/%3E%3C/svg%3E");
  display: inline-block;
  transition-duration: 0.1s;
  transition-property: transform;
  transform: rotate(90deg);
}
.answer::before {
  counter-increment: answers;
  content: "Answer " counter(answers) ":";
  font-size: large;
  text-decoration: underline;
}
.answer {
  outline-offset: 2px;
}
.title {
  font-size: larger;
}
.answer + .answer {
  margin-top: 20px;
}
path {
  fill: orange;
}
